body {
    background-image: url('https://pbs.twimg.com/media/E4UwzRqUYAIevuC?format=jpg&name=large');
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Kanit', sans-serif;
  } 

header{
    background-color: rgb(252, 190, 190);
    color: rgb(41, 235, 15);
    height: 70px;
    padding: 10px;
  }

  footer {
    background-color: rgb(#F8BBD0);
    color: white;
    height: 70px;
    padding: 10px;
    text-align: center;
}
.mainpage 
    {
      width: 1024px; 
      margin: 0 auto;
   }
  
 .headname1 {
     color: rgb(255, 255, 255);
 }

 .headname2 {
  color: rgb(0, 0, 0);
}


 .graphic{
  background-image: url("images/chantaburi-cover.jpeg");
  height: 320px;
  padding: auto;
 }

 .maps{
   border:1px solid rgb(#F8BBD0 )
   height: 300px
 } 

 .top10{
  background-color: rgb(253, 253, 253);
  padding: 10px;
 }

 .img10{
  width: 190px;
  border-radius: 10px;
 }

 .topmenu{
   background-color: #bbf8e9;
   height: 40px;
 }